h1 a, h2 a, h3 a, h4 a {
    color: #103D60;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

pre.code .go {
    color: #666666;
}

div.note p.admonition-title {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
