## -*- coding: utf-8 -*-
<%namespace name="arusahni" file="arusahni_helper.tmpl" import="*" />
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
        <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    <meta name="author" content="${post.author()}">
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
</%block>

<%block name="content">
    <div class="post">
    ${arusahni.html_title()}
        <div class="meta">
            <div class="authordate">
                <time class="timeago" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
            ${arusahni.html_translations(post)}
            ${arusahni.html_sourcelink()}
            </div>
            ${arusahni.html_tags(post)}
        </div>
        <div class="body">
            ${post.text()}
        </div>
        ${helper.html_pager(post)}
            <div style="text-align:center;font-size:large">
<!-- Social buttons -->
<a
  href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdtantsur.github.io&t="
  target="_blank" title="Share on Facebook"
  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' +
  encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL));
  return false;"><i class="icon-facebook"></i></a>
<a
  href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fdtantsur.github.io&text=:%20http%3A%2F%2Fdtantsur.github.io&via=creepy_owlet"
  target="_blank" title="Tweet"
  onclick="window.open('https://twitter.com/intent/tweet?text=' +
  encodeURIComponent(document.title) + ':%20' +
  encodeURIComponent(document.URL)); return false;">
  <i class="icon-twitter"></i></a>
<a
  href="https://plus.google.com/share?url=http%3A%2F%2Fdtantsur.github.io"
  target="_blank" title="Share on Google+"
  onclick="window.open('https://plus.google.com/share?url=' +
  encodeURIComponent(document.URL)); return false;">
  <i class="icon-google-plus"></i></a>
<a
  href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fdtantsur.github.io&t=&s="
  target="_blank" title="Post to Tumblr"
  onclick="window.open('http://www.tumblr.com/share?v=3&u=' +
  encodeURIComponent(document.URL) + '&t=' +
  encodeURIComponent(document.title)); return false;">
  <i class="icon-tumblr"></i></a>
</ul>
<!-- End of social buttons -->
            </div>
        % if not post.meta('nocomments') and site_has_comments:
            ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        % endif
        ${helper.mathjax_script(post)}
    </div>
${comments.comment_link_script()}
</%block>
